= form_for @publication do |f|
  - if @publication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@publication.errors.count, "error")} prohibited this publication from being saved:"
      %ul
        - @publication.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :needs_transit_home
    = f.check_box :needs_transit_home
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :pet
    = f.text_field :pet
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
