= form_tag filter_path, method: :get, class: "form-inline", role: "form" do
  .form-group
    = select_tag :order_by, pet_order_by_options(params[:order_by]), prompt: t(".order_by_prompt") , class: "form-control"
  .form-group
    = select_tag :type, pet_type_options(params[:type]), prompt: t(".type_prompt") , class: "form-control"
  .form-group
    = select_tag :gender, pet_gender_options(params[:gender]), prompt: t(".gender_prompt") , class: "form-control"
  -#- %w[published vaccinated needs_transit_home].each do |attribute|
    .form-group
      = select_tag attribute, boolean_options(params[attribute]), prompt: t(".#{attribute}_prompt") , class: "form-control"
  .form-group
    = text_field_tag :colors, params[:colors], placeholder: t("activerecord.attributes.pet.colors") , class: "form-control"
  .form-group
    = text_field_tag :metadata, params[:metadata], placeholder: t("activerecord.attributes.pet.metadata") , class: "form-control"
  = submit_tag t(".submit"), class: "btn btn-primary"
