= form_tag pets_path, method: :get, class: "form-inline", role: "form" do
  .form-group
    = select_tag :type, pet_type_options(params[:type]), prompt: "--- Type ---" , class: "form-control"
  .form-group
    = select_tag :gender, pet_gender_options(params[:gender]), prompt: "--- Gender ---" , class: "form-control"
  - %i[published vaccinated needs_transit_home].each do |attribute|
    .form-group
      = select_tag attribute, boolean_options(params[attribute]), prompt: "--- #{attribute.to_s.humanize} ---" , class: "form-control"
  = submit_tag "Search", class: "btn btn-primary"
