= form_tag photo_pet_path(@pet), multipart: true, class: "form-horizontal", role: "form" do
  .form-group
    = label_tag :image, t("activerecord.attributes.pet_image.image"), class: "col-sm-2 control-label"
    .col-sm-10
      = file_field_tag :image, required: true
      %p.help-block= t(".help")

  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag t(".submit"), class: "btn btn-info"
