= form_tag filter_path, method: :get, class: "form-inline", role: "form" do
  .form-group
    = select_tag :order_by, user_order_by_options(params[:order_by]), prompt: t(".order_by_prompt") , class: "form-control"
  .form-group
    = text_field_tag :first_name, params[:first_name], placeholder: t("activerecord.attributes.user.first_name") , class: "form-control"
  .form-group
    = text_field_tag :last_name, params[:last_name], placeholder: t("activerecord.attributes.user.last_name") , class: "form-control"
  = submit_tag t(".submit"), class: "btn btn-primary"
