.page-header
  = link_to pets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_pet_path(@pet), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show pet

%dl.dl-horizontal
  - @pet.attributes.each do |attribute, value|
    %dt= "#{attribute.humanize}:"
    %dd
      - if value == true
        %span.glyphicon.glyphicon-ok
      - elsif value == false
        %span.glyphicon.glyphicon-remove
      - elsif value.acts_like?(:time)
        = l value, format: :short
      - else
        = value
