.page-header
  = link_to pets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_pet_path(@pet), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show pet

%dl.dl-horizontal
  %dt Type:
  %dd= @pet.type
  %dt Name:
  %dd= @pet.name
  %dt Description:
  %dd= @pet.description
