.page-header
  %h1= t(".title")

= form_for :report, url: reports_path, method: :GET do
  .row
    .col-xs-3
    .col-xs-2
      = label_tag :from, t(".from"), class: "control-label"
      = text_field_tag :from, @from, date_picker_options
    .col-xs-2
      = label_tag :to, t(".to"), class: "control-label"
      = text_field_tag :to, @to, date_picker_options
    .col-xs-2
      = submit_tag t(".submit"), class: "btn btn-info", style: "margin-top: 25px;width: 100%;"

- unless flash[:error].present?

  = column_chart @data

  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th= t(".type")
          %th= t(".count")

      %tbody
        - @data.each do |key, value|
          %tr
            %td= key
            %td= value

  .row
    .col-xs-6
      %h4= t(".adopted_ratio", total: @adoption_total, adopted: @adopted_total)
      - if @adopted_total > 0
        %h3= t(".average_adoption_time")
        %h4= average_time(@avg_adoption_time)

    .col-xs-6
      %h4= t(".found_ratio", total: @lost_total, found: @found_total)
      - if @found_total > 0
        %h3= t(".average_found_time")
        %h4= average_time(@avg_found_time)
